<ion-header>
    <ion-toolbar class="new-background-color" >
        <ion-title>
            <span text-color="my-custom-color" padding>Actualizar reserva</span>
        </ion-title>
        <ion-buttons slot="end" routerLink="/home/reserva">
          <ion-icon color="light" name="close" size="large"
          ></ion-icon>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <br>
      <div class="form-group">
          <label for="exampleFormControlTextarea1"><i class="fas fa-pencil-alt"></i> Observacion:</label>
          <textarea class="form-control" [(ngModel)]="obs" #upObs
          id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <br>
        <ion-label>
          Asistio a su reservacion?
        </ion-label>
        <ion-button (click)="siAsistio()" color="success">SI</ion-button>
        <ion-button (click)="noAsistio()" color="danger">NO</ion-button>
        <br><br>
        <br>

        <ion-button (click)="actualizar(upObs.value)" color="secondary" expand="block">Acutalizar</ion-button>


</ion-content>