<ion-menu side="start" 
    menuId="primerMenu"
    contentId="principal">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title padding>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item routerLink="/home/pacientes"><i class="fas fa-user-injured mr-3"></i>
              <ion-label>
                 Pacientes     
            </ion-label></ion-item>
            <ion-item routerLink="/home/fichas">
              <i class="fas fa-file-signature mr-3"></i>
              <ion-label>
                 Fichas    
            </ion-label></ion-item>
            <ion-item routerLink="/home/reserva">
              <i class="fas fa-stethoscope mr-3"></i>
              <ion-label>
                 Reservas    
            </ion-label>
          </ion-item>
            <ion-item (click)="salir()">
              <i class="fas fa-sign-out-alt"></i>
                 <ion-label>  Cerrar Sesion</ion-label>
            </ion-item>
            
          </ion-list>
        </ion-content>
      </ion-menu>
