


<ion-header>
  <ion-toolbar class="new-background-color" >
      <ion-buttons slot="start">
          <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title>
          <span text-color="my-custom-color" padding>Reservas</span>
      </ion-title>

     <!-- <ion-title>
          <span text-color="my-custom-color" *ngIf="toggled" padding>Buscar</span>
      </ion-title>

      <ion-buttons slot="end">
          <ion-icon *ngIf="toggled"  (click)="close()" color="light" name="close" size="large"></ion-icon>
        </ion-buttons>-->
        
        

    <ion-buttons slot="end">
          <ion-icon (click)="presentActionSheet()" color="light" name="search" size="large"></ion-icon>
        </ion-buttons> 

        

    </ion-toolbar>
  </ion-header>

  

<ion-content padding>
    
    <ion-list *ngIf="empBuscar || pacienteBuscar"> 

        <!--<ion-item>
            <ion-checkbox color="secondary" slot="start" (click)="mostrarBarraPaciente()"></ion-checkbox>
              <ion-label>     Buscar por paciente</ion-label>
          </ion-item>-->

        <ion-list-header>Insertar Datos</ion-list-header>
      
        <ion-item *ngIf="empBuscar && !pacienteBuscar">
          <ion-label>Fisioterapeuta</ion-label>
          <ion-select placeholder="Selecionar" [(ngModel)]="idEmp">
            <ion-select-option *ngFor="let emp of empleados" [value]="emp.idPersona">{{ emp.nombreCompleto }}</ion-select-option>
          </ion-select>
        </ion-item>
      
              <ion-item *ngIf="!pacienteBuscar">  
                  <ion-label>Fecha desde</ion-label>  
                  <ion-datetime value="1990-02-20" placeholder="Select Date" [(ngModel)]="fecha1"></ion-datetime>  
                </ion-item> 

                <ion-item *ngIf="!pacienteBuscar">  
                    <ion-label>Fecha hasta</ion-label>  
                    <ion-datetime value="1990-02-20" placeholder="Select Date" [(ngModel)]="fecha2"></ion-datetime>  
                  </ion-item> 

                  <ion-item *ngIf="pacienteBuscar">
                      <ion-label>Paciente</ion-label>
                      <ion-select placeholder="Selecionar" [(ngModel)]="idCli">
                        <ion-select-option *ngFor="let cli of clientes" [value]="cli.idPersona">{{ cli.nombreCompleto }}</ion-select-option>
                      </ion-select>
                    </ion-item>

              <br>

              
                  <ion-button color="tertiary" slot="end"
                  (click)="buscar()"
                  >Buscar</ion-button>
              
    
                  <ion-button color="secondary" slot="end"
                  (click)="limpiarPantalla()"
                  >Limpiar</ion-button>

             

              
                

            </ion-list>

          







    <div class="table-responsive-md">
        <table class="table table-sm table-bordered animated fadeIn fast faster  animated fadeIn faster mat-elevation-z8">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora inicio</th>
                <th scope="col">Hora fin</th>
                <th scope="col">Profesional</th>
                <th scope="col">Paciente</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of reservas | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ r.fecha | date:'longDate' }}</td>
                <td>{{ r.horaInicio }}</td>
                <td>{{ r.horaFin }}</td>
                <td>{{r.idEmpleado.nombreCompleto }}</td>
                <td>{{ r.idCliente.nombreCompleto }}</td>
                <td>
                    <div class="text-center">

                        

                      <!-- Default Segment -->


                        
                        <ion-button color="warning" (click)="guardarIdResrva(i)"
                        routerLink="/reserva/actualizar">
                            <ion-icon name="eye"></ion-icon>
                           
                        </ion-button>
                        <ion-button color="danger"
                        (click)="eliminarReserva(i)">
                            <ion-icon name="trash"></ion-icon>
                            
                        </ion-button>

                    </div>
                      
                  
                      
                </td>
               
              </tr>
            </tbody>
          </table>
          <div *ngIf="!cargando && reservas.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    
</div>
  
  <div *ngIf="cargando"
  class="alert alert-info text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Cargando</h4>
      <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
  </div>
  <div class="text-right">
      <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div>

  <br>
    </div>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" routerLink="/reserva-nueva">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>