<ion-header>
    <ion-toolbar class="new-background-color" >
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <span text-color="my-custom-color" padding>Archivos</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content padding>

       <!-- <ion-button  color="dark"
        
        expand="block">Agregar</ion-button>-->


        <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" 
                  (change)="onFileChange($event)"
                  id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile02"
                  data-browse="Buscar">Elige un archivo</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" 
                  id="btnUpload"
                  (click)="onUpload()"
                  >Subir</span>
                </div>
              </div>

        <!--<div class="col-sm-3 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                <div class="input-group">
                     <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Elige un archivo">
                  <div class="input-group-prepend">
                    <input id="btnUpload" class="btn btn-outline-secondary"><i class="fas fa-search"></i>
                    <div class="btn btn-outline-success"><i class="fas fa-upload"></i></div>
                  </div>

                </div>
                
              </div>-->



       <!-- <div class="col-sm-3 my-1">
        <div class="input-group-prepend">
                <span id="btnUpload" (click)="onUpload()"
                class="input-group-text upload">
                    Subir
                </span>

            </div>
            <div class="custom-file">
                <form action="/api/tp2-front" method="POST" class="action col-sm-3 my-1" enctype="multipart/form-data">
                    <input type="file" class="custom-file-input" 
                    (change)="onFileChange($event)"
                    id="input-custom-file">
                    <label  class="custom-file-label" for="input-custom-file">Elige un archivo</label>
                </form>
            </div>
        </div>-->
        
        <ion-list>
            <ion-item *ngFor="let file of fichaArchivo; let i = index">
            {{ file.nombre }}

            
        
       <ion-button color="danger" 
        slot="end"
        (click)="eliminar(i)">
        <i class="fas fa-trash-alt"></i>
        </ion-button>

            
           <!-- <div class="col-2">
                    <button class=" float-right btn btn-danger"
                    (click)="eliminar(i)">
                      <i class="fas fa-trash-alt"></i>
                    </button>

            </div>-->
                
            
           
            </ion-item>
            
        </ion-list>

       <!-- <div *ngIf="cargando"
        class="alert alert-info text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Cargando</h4>
      <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
  </div>-->

        <div *ngIf="!cargando && fichaArchivo.length === 0"
            class="alert alert-warning text-center mt-3 animated fadeIn faster">
              <h4 class="alert-heading">No hay registros</h4>
              <p>
                  <i class="fa fa-exclamation fa-2x"></i>
              </p>
              
          </div>

       

    </ion-content>

   <!-- <div class="container">
            <div class="content">
                <div class="header">
                    <h1>File upload</h1>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span id="btnUpload" (click)="onUpload()"
                                class="input-group-text upload">
                                    Subir
                                </span>
 
                            </div>
                            <div class="custom-file">
                                <form action="/api/tp2-front" method="POST" class="action" enctype="multipart/form-data">
                                    <input type="file" class="custom-file-input" 
                                    (change)="onFileChange($event)"
                                    id="input-custom-file">
                                    <label  class="custom-file-label" for="input-custom-file">Elige un archivo</label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>-->
