.new-background-color{
    --background: #7f00ff;

}
ion-title{
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}
[text-color="my-custom-color"] {
    color: white;
}

.header{
    text-align: center;

}
.content{
    margin: 100px;
}

.upload{
    cursor: pointer;
}