<ion-header>
    <ion-toolbar mode="md" class="new-background-color">
       <!-- <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
              </ion-button>
        </ion-buttons>-->

          <ion-title>
              <span text-color="my-custom-color" padding> MedicalApp</span>
          </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-list>
    <ion-item routerLink="/home/pacientes">
      <ion-icon name="contacts"></ion-icon>
           <ion-label>
                 Pacientes     
         </ion-label>
         <i class="fas fa-chevron-right" style="float: right;"></i> 
    </ion-item>

    <ion-item routerLink="/home/fichas">
      <ion-icon name="clipboard"></ion-icon>
           <ion-label>
                Fichas    
         </ion-label>
         <i class="fas fa-chevron-right" style="float: right;"></i> 
    </ion-item>

    <ion-item routerLink="/home/reserva">
      <ion-icon name="filing"></ion-icon>
           <ion-label>
                Reservas    
         </ion-label>
         <i class="fas fa-chevron-right" style="float: right;"></i> 
    </ion-item>
    <ion-item routerLink="/login">
      <ion-icon name="log-out"></ion-icon>
            <ion-label>
                  Cerrar Sesion   
         </ion-label>
        
    </ion-item>
  </ion-list>
 
</ion-content>



<!--<ion-header no-border>

    

    <ion-toolbar mode="md" class="new-background-color">
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu" class="menu-icon"></ion-icon>
              </ion-button>
        </ion-buttons>

          <ion-title>
              <span text-color="my-custom-color"> MedicalApp</span>
          </ion-title>
    </ion-toolbar>
  </ion-header>-->
 


  <!--<div class="col text-center">
    <button routerLink="/home/pacientes" class="btn btn-primary" block>
      <img src="assets/img/cliente.png" style="width : 20% ; height : 20%">
    </button>
  </div>

<div class="col text-center">
    <button>
      <img src="assets/img/carpeta.png" style="width : 20% ; height : 20%">
    </button>
  </div>

  <div class="col text-center">
    <button>
      <img src="assets/img/estetoscopio.png" style="width : 20% ; height : 20%">
    </button>
  </div>-->


  
 

<!--<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Tab Two</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>-->
