<ion-header>
  <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
          <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title>
          <span text-color="my-custom-color">Ficha Clinica</span>
      </ion-title>

     <!-- <ion-title>
          <span text-color="my-custom-color" *ngIf="toggled" padding>Buscar</span>
      </ion-title>

      <ion-buttons slot="end">
          <ion-icon *ngIf="toggled" (click)="close();limpiarPantalla()" color="light" name="close" size="large"></ion-icon>
        </ion-buttons> -->

      <ion-buttons slot="end">
        <ion-icon  (click)="presentActionSheet()" color="light" name="search" size="large"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>


    <ion-list *ngIf="empBuscar || pacienteBuscar || fechaBuscar || subBuscar"> 

        
      
        <ion-item *ngIf="empBuscar && !pacienteBuscar && !fechaBuscar && !subBuscar">
          <ion-label>Fisioterapeuta</ion-label>
          <ion-select placeholder="Selecionar" [(ngModel)]="idEmp">
            <ion-select-option *ngFor="let emp of empleados" [value]="emp.idPersona">{{ emp.nombreCompleto }}</ion-select-option>
          </ion-select>
        </ion-item>
      
        
        <ion-item  *ngIf="!empBuscar && pacienteBuscar && !fechaBuscar && !subBuscar">
            <ion-label>Paciente</ion-label>
            <ion-select placeholder="Selecionar" [(ngModel)]="idCli">
              <ion-select-option *ngFor="let cli of clientes" [value]="cli.idPersona">{{ cli.nombreCompleto }}</ion-select-option>
            </ion-select>
          </ion-item>

          

          <ion-item *ngIf="!empBuscar && !pacienteBuscar && !fechaBuscar && subBuscar">
              <ion-label>Categoria</ion-label>
              <ion-select placeholder="Selecionar" [(ngModel)]="idCategoria" (ionChange)="mostrarSubcat()" >
                <ion-select-option *ngFor="let cat of categorias" [value]="cat.idCategoria" 
                
               >{{ cat.descripcion }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item *ngIf="!empBuscar && !pacienteBuscar && !fechaBuscar && subBuscar">
                <ion-label>Subcategoria</ion-label>
                <ion-select placeholder="Selecionar" [(ngModel)]="idSubcat">
                  <ion-select-option *ngFor="let sub of subcategorias" [value]="sub.idTipoProducto">{{ sub.descripcion }}</ion-select-option>
                </ion-select>
              </ion-item>

              

              <ion-item *ngIf="!empBuscar && !pacienteBuscar && fechaBuscar && !subBuscar">  
                  <ion-label>Fecha desde</ion-label>  
                  <ion-datetime value="1990-02-20" placeholder="Select Date" [(ngModel)]="fecha1"></ion-datetime>  
                </ion-item> 

                <ion-item *ngIf="!empBuscar && !pacienteBuscar && fechaBuscar && !subBuscar">  
                    <ion-label>Fecha hasta</ion-label>  
                    <ion-datetime value="1990-02-20" placeholder="Select Date" [(ngModel)]="fecha2"></ion-datetime>  
                  </ion-item> 

              <br>

              
                  <ion-button color="tertiary" slot="end"
                  (click)="buscar()"
                  >Buscar</ion-button>
              
    
                  <ion-button color="secondary" slot="end"
                  (click)="limpiarPantalla()"
                  >Limpiar</ion-button>

             

              
                

            </ion-list>




      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color="danger" routerLink="/ficha-nueva">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>

        <div class="table-responsive-md">
        <table class="table table-sm table-bordered animated fadeIn fast faster  animated fadeIn faster mat-elevation-z8">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Fisioterapeuta</th>
                    <th scope="col">Paciente</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Subcategoria</th>
                    <th scope="col">Acciones</th>

                  </tr>
            </thead>
            <tbody>
              
              <tr *ngFor="let ficha of fichas | paginate:{itemsPerPage: 9, currentPage:page}; let i = index">
                <th scope="row">{{ i+1  }}</th>
                <td>{{ ficha.fechaHora | date:'longDate' }}</td>
                <td>{{ ficha.idEmpleado.nombreCompleto }}</td>
                <td>{{ ficha.idCliente.nombreCompleto }}</td>
                <td>{{ ficha.idTipoProducto.idCategoria.descripcion }}</td>
                <td>{{ ficha.idTipoProducto.descripcion }}</td>
                <td>
                  <div class="text-center">
                    <ion-button color="secondary"
                    (click)="guardarSelectId(i)" routerLink="/ficha-archivo">
                        <ion-icon name="attach"></ion-icon>
                    </ion-button >
                    <ion-button color="warning"
                    (click)="guardarSelectId(i)" routerLink="/ficha/actualizar">
                        <ion-icon name="eye"></ion-icon>
                    </ion-button>
                    <ion-button color="danger" (click)="borrar(i)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                     <!-- <button class="btn btn-warning" 
                      (click)="guardarSelectId(i)"
                      routerLink="/ficha-archivo">
                        <i class="fas fa-paperclip"></i>
                      </button>-->
                      
                  </div>
                </td>
              </tr>
              
              
            </tbody>

        </table>

        <div *ngIf="cargando"
        class="alert alert-info text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Cargando</h4>
      <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
  </div>





        <div *ngIf="!cargando && fichas.length === 0"
          class="alert alert-warning text-center mt-3 animated fadeIn faster">
            <h4 class="alert-heading">No hay registros</h4>
            <p>
                <i class="fa fa-exclamation fa-2x"></i>
            </p>
            
        </div>

        <div class="text-right">
            <pagination-controls (pageChange)="page=$event"></pagination-controls>
        </div><br>

      </div>
      
</ion-content>
