<ion-header>
    <ion-toolbar class="new-background-color" >
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <span text-color="my-custom-color" padding>Reservacion</span>
        </ion-title>

        <ion-buttons slot="end">
            <ion-icon (click)="presentActionSheet()" color="light" name="search" size="large"></ion-icon>
          </ion-buttons> 
      </ion-toolbar>
    </ion-header>

<ion-content padding >
            <ion-list>

                    <ion-list-header  *ngIf="libre" padding>Buscar lugares disponibles</ion-list-header>
                    <ion-list-header *ngIf="ambos" padding>Buscar lugares libres y ocupados</ion-list-header>
                    <ion-item >
                            <ion-label>Fisioterapeuta</ion-label>
                            <ion-select placeholder="Selecionar" [(ngModel)]="idEmp">
                              <ion-select-option *ngFor="let emp of empleados" [value]="emp.idPersona">{{ emp.nombreCompleto }}</ion-select-option>
                            </ion-select>
                          </ion-item>

                              <ion-item>  
                                    <ion-label>Fecha desde</ion-label>  
                                    <ion-datetime value="1990-02-20" placeholder="Select Date" [(ngModel)]="fecha1"></ion-datetime>  
                                  </ion-item> 
                                  <ion-item lines="none">
                                        <ion-button color="tertiary" slot="end"
                                        (click)="buscarQue()"
                                        >Buscar</ion-button>
                                    
                                        <ion-button color="secondary" slot="end"
                                        (click)="limpiar()"
                                        >Limpiar</ion-button>
                                </ion-item>
                                
                                <ion-list-header *ngIf="buscarHorarioDisponible" padding>Seleccionar Paciente</ion-list-header>

                                 <ion-item *ngIf="buscarHorarioDisponible">

                                        <ion-label>Paciente</ion-label>
                                        <ion-select placeholder="Selecionar" [(ngModel)]="idCli">
                                          <ion-select-option *ngFor="let cli of clientes" [value]="cli.idPersona">{{ cli.nombreCompleto }}</ion-select-option>
                                        </ion-select>
                                      </ion-item>

                                      <br>

              
                  

             

              
                

            </ion-list>
            

            <div class="table-responsive-md" *ngIf="buscarHorarioDisponible">
                
                    <table class="table table-sm table-bordered animated fadeIn fast faster  animated fadeIn faster mat-elevation-z8">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Hora Inicio</th>
                                <th scope="col">Hora Fin</th>
                                <th scope="col">Acciones</th>
            
                              </tr>
                        </thead>
                        <tbody>
                          
                          <tr *ngFor="let agenda of horarioAgenda | paginate:{itemsPerPage: 9, currentPage:page}; let i = index">
                            <th scope="row">{{ i+1  }}</th>
                            <td>{{ agenda.fecha | date:'longDate' }}</td>
                            <td>{{ agenda.horaInicioCadena  }}</td>
                            <td>{{ agenda.horaFinCadena }}</td>
                            <td>
                              <div class="text-center">
                                <ion-button color="success"  *ngIf="libre" (click)="reservar(i)"
                               >
                                    Reservar
                                </ion-button>
                                
                                  
                              </div>
                            </td>
                          </tr>
                          
                          
                        </tbody>
            
                    </table>

                    <div *ngIf="horarioAgenda.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    
</div>
                    
                    <div class="text-right">
                            <pagination-controls (pageChange)="page=$event"></pagination-controls>
                        </div><br>
        </div>


           

    </ion-content>
