<!--<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-icon name="menu" size="large"></ion-icon>
        </ion-buttons>
        <ion-searchbar type="text" color="light" placeholder="Search text" clearInput>
        </ion-searchbar>
        <ion-buttons slot="end">
          <ion-icon name="search" size="large"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>-->
   <ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-back-button routerLink="/home"  color="light" *ngIf="!toggled"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-icon color="light" name="close" size="large"
          *ngIf="toggled" (click)="closeSearch()"></ion-icon>
        </ion-buttons>
        <ion-title>
            
            <span text-color="my-custom-color" *ngIf="!toggled"> Pacientes</span>
        </ion-title>
        <ion-searchbar  *ngIf="toggled"  [(ngModel)]="nombrePaciente"  (keydown.enter)="buscarCliente()" type="text" color="light" placeholder="Buscar por nombre..." clearInput>
          </ion-searchbar>
        <ion-buttons *ngIf="!toggled" (click)="toggle()" slot="end">
          <ion-icon color="light" name="search" size="large"></ion-icon>
          
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

<ion-content padding>


        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="danger" (click)="peticionNueva()"
            routerLink="/paciente-nuevo">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>

          <div class="table-responsive-md">
          <table class="table table-sm table-bordered animated fadeIn fast faster  animated fadeIn faster mat-elevation-z8">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Acciones</th>
                    </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let cli of clientes | paginate:{itemsPerPage: 9, currentPage:page}; let i = index">
                  <th scope="row">{{ i+1  }}</th>
                  <td>{{ cli.nombreCompleto}}</td>
                  <td>
                    <div class="text-center">
                        <button class="btn btn-warning mr-1" (click)="guardarPaciente(i)"
                        routerLink="/paciente-nuevo"
                        >
                          <i class="far fa-eye"></i>
                        </button>

                        
                        
                    </div>
                  </td>
                </tr>
                
                
              </tbody>
          </table>

          <div *ngIf="clientes.length === 0"
          class="alert alert-warning text-center mt-3 animated fadeIn faster">
            <h4 class="alert-heading">No hay registros</h4>
            <p>
                <i class="fa fa-exclamation fa-2x"></i>
            </p>
            
        </div>

          <div class="text-right">
              <pagination-controls (pageChange)="page=$event"></pagination-controls>
          </div><br>

        </div>
        
  </ion-content>