<ion-header>
    <ion-toolbar class="new-background-color" >
        <ion-title>
            <span text-color="my-custom-color" padding>Paciente Nuevo</span>
        </ion-title>
        <ion-buttons slot="end" routerLink="/home/pacientes">
          <ion-icon color="light" name="close" size="large"
          (click)="limpiarPantall()"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
<ion-content padding>
  <ion-list>
      <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input  [(ngModel)]="temp.nombre" #nombre1></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input  [(ngModel)]="temp.apellido" #apellido1></ion-input>
          </ion-item>
          

          <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input  type="temp.email" [(ngModel)]="email" #email1></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Telefono</ion-label>
                <ion-input  [(ngModel)]="temp.telefono" #telefono1></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Ruc</ion-label>
                  <ion-input  [(ngModel)]="temp.ruc" #ruc1 ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Cedula</ion-label>
                    <ion-input  [(ngModel)]="temp.cedula" #cedula1 ></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-label position="floating">Tipo Persona</ion-label>
                      <ion-input  [(ngModel)]="temp.tipoPersona" #tipo1 ></ion-input>
                    </ion-item>

                    <ion-item>  
                        <ion-label>Fecha de Nacimiento</ion-label>  
                        <ion-datetime [(ngModel)]="temp.fechaNacimiento"  #fecha1
                        value="1990-02-20" placeholder="Select Date" ></ion-datetime>  
                      </ion-item>  
        

  </ion-list>
  <br>
  <ion-button  color="secondary"
  (click)="crearPaciente(cedula1.value, ruc1.value, telefono1.value, tipo1.value
  ,nombre1.value, apellido1.value, fecha1.value, email1.value)"
  expand="block">Guardar</ion-button>

  <br>
  <ion-button color="danger" expand="block"
  *ngIf="peticion"
  (click)="borrar()" routerLink="/home/pacientes">Eliminar

  </ion-button>
  <br>



  
    
   
</ion-content>
