<ion-header>
  <ion-toolbar class="new-background-color" >
      <ion-title>
          <span text-color="my-custom-color" padding>Ficha Clinica Nueva</span>
      </ion-title>
      <ion-buttons slot="end" routerLink="/home/fichas">
        <ion-icon color="light" name="close" size="large"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="fichaId()" 
          color="dark" routerLink="/ficha-archivo">
            <ion-icon name="attach"></ion-icon>
          </ion-fab-button>
        </ion-fab>



      <ion-list>
          <ion-list-header>Seleccionar Datos</ion-list-header>
        
          <ion-item>
            <ion-label>Fisioterapeuta</ion-label>
            <ion-select placeholder="Selecionar" [(ngModel)]="idEmp">
              <ion-select-option *ngFor="let emp of empleados" [value]="emp.idPersona">{{ emp.nombreCompleto }}</ion-select-option>
            </ion-select>
          </ion-item>
        
          <ion-item>
              <ion-label>Paciente</ion-label>
              <ion-select placeholder="Selecionar" [(ngModel)]="idCli">
                <ion-select-option *ngFor="let cli of clientes" [value]="cli.idPersona">{{ cli.nombreCompleto }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Categoria</ion-label>
                <ion-select placeholder="Selecionar" [(ngModel)]="idCategoria" (ionChange)="mostrarSubcat()" >
                  <ion-select-option *ngFor="let cat of categorias" [value]="cat.idCategoria" 
                  
                 >{{ cat.descripcion }}</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                  <ion-label>Subcategoria</ion-label>
                  <ion-select placeholder="Selecionar" [(ngModel)]="idSubcat">
                    <ion-select-option *ngFor="let sub of subcategorias" [value]="sub.idTipoProducto">{{ sub.descripcion }}</ion-select-option>
                  </ion-select>
                </ion-item>

                <!-- Motivo de la consulta -->
                <ion-item>
                  <ion-label position="floating">Motivo</ion-label>
                  <ion-textarea [(ngModel)]="motivoConsulta"></ion-textarea>
                </ion-item>
                <!-- Diagnostico de la consulta -->
                <ion-item>
                    <ion-label position="floating">Diagnostico</ion-label>
                    <ion-textarea [(ngModel)]="diagnostico"></ion-textarea>
                  </ion-item>

                  <!-- Observacion de la consulta -->
                <ion-item>
                    <ion-label position="floating">Observacion</ion-label>
                    <ion-textarea [(ngModel)]="observacion"></ion-textarea>
                  </ion-item>
        
        </ion-list>

        <br>
        <ion-button  color="secondary"
        (click)="guardarFicha()"
        expand="block">Guardar</ion-button>
        <br><br>




  </ion-content>